.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  text-align: center;
  font-size: 75px;

  @media (max-width: 768px) {
    font-size: 60px !important;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
