@import "../../../styles/variables.scss";

.wrapper {
  background-color: $blurBg-color;
  border-radius: 25px;
  padding: 25px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  object-fit: cover;
  width: 226px;
  height: 250px;
  border-radius: 25px;
}
