@import "./variables.scss";

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: $mainBg-color;
  color: $primary-color;
  font-size: 20px;
  line-height: 1.3;
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $secondary-color;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: $secondary-color !important;
}
