@import "../../styles/variables.scss";

.item {
  display: flex;
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  flex-grow: 1;
}

.textChecked {
  flex-grow: 1;
  text-decoration: line-through;
  color: grey;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.pinIcon {
  color: $secondary-color;
  cursor: pointer;
}

.pinOutlinedIcon {
  cursor: pointer;
  &:hover {
    color: $secondary-color;
  }
}

.deleteIcon {
  &:hover {
    color: red;
  }
  cursor: pointer;
}

.date {
  display: flex;
  align-items: center;
  color: $secondary-color;
  font-weight: 500;
  font-size: 16px;
}
